.env
.env.*
!.env.example
.DS_Store
.idea/
.vscode/
node_modules/
.next/
*.tsbuildinfo
dist/
build/
coverage/
*.log
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
.dart_tool/
.flutter-plugins*
.pub-cache/
Pods/
DerivedData/
